Django==5.0.3
psycopg2-binary==2.9.9
Pillow==10.2.0
ipython==8.22.2
django_extensions==3.2.3
django_debug_toolbar==4.3.0
django_phonenumber_field==7.3.0
django_phonenumbers==1.0.1
celery==5.4.0
redis==5.0.4
flower==1.1.0