{%extends 'base.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{%block content%}
<div class="catalog-wrap section-p1">
    <div class="path-to">
        <ul id="path">
            <li><a href="{%url 'shop:main'%}">Main</a> /</li>
            <li class="active">Catalog</li>
        </ul>
    </div>


    <section id="catalog-products">
        <div class="product-container">
            <div class="upper-catalog-card">
                <div class="catalog-info">Products:123</div>
                <div class="filters-mobile">
                    Filters<i class="fa-solid fa-filter"></i>
                    <div class="filters-dropdown">
                        <div class="mob-filter">sort1</div>
                        <div class="mob-filter">sort1</div>
                        <div class="mob-filter">sort1</div>
                        <div class="mob-filter">sort1</div>
                    </div>
                </div>

                <div class="catalog-sort">
                    Sort <i class="fa-solid fa-arrow-down-wide-short"></i>
                    <div class="dropdown-sort">
                        <div class="sort">sort1</div>
                        <div class="sort">sort2</div>
                        <div class="sort">sort3</div>
                    </div>
                </div>
            </div>

            {%for product in products%}
            <div class="product-icon">
                <a href="{{product.get_absolute_url}}" class="product-link">
                    <div class="image-field">
                        {% if product.image%}
                        <img src="{{product.image.url}}" alt=""/>
                        {%else%}
                        <img src="{%static 'images/no-image.png'%}" alt=""/>
                        {%endif%}
                    </div>
                    <div class="product-description">
                        <span>{{product.description|linebreaks|truncatewords:3}}</span>
                        <h5>{{product.name}}</h5>
                        <h4 class="price">{{product.price}}</h4>
                    </div>
                </a>
                <i class="fa-solid fa-cart-plus product-cart openModalBtn" data-product-id="{{ product.id }}"></i>
                <div class="modal productModal" id="productModal{{product.id}}">
                    <div class="modal-content">
                        <span class="close" data-product-id="{{product.id}}">&times;</span>
                        <!-- Content of the modal for a specific product -->
                        <div class="modal-product-name">
                            <h2>{{ product.name }}</h2>
                        </div>
                        <div class="modal-lover-info">
                            <p class="description">{{ product.description }}</p>
                            <form method="post" class="modal-form" data-form-product-id="{{product.id}}"
                                  action="{%url 'cart:ajax_add_to_cart'%}">
                                {{form.as_p}}
                                {%csrf_token%}
                                <input type="submit" value="Add to Cart">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>


        <div class="filters">
            <h3>Filter</h3>
            <h5>Filter</h5>
            <h5>Filter</h5>
            <h5>Filter1234324y234</h5>
            <h5>Filter</h5>
            <h5>Filter</h5>
            <h5>Filter</h5>
            <h5>Filter</h5>
            <h6>Filter</h6>
        </div>
        <div class="mob-info">products:125</div>
    </section>
</div>
{%endblock%}

<script type="text/javascript">
    $(document).on('submit', '#modal-form', function (e) {
        e.preventDefault();

    })

</script>


</body>
</html>