{%extends 'base.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{%block content%}
<div class="catalog-wrap section-p1">
    <div class="path-to">
        <ul id="path">
            <li><a href="{%url 'shop:main'%}">Main</a> /</li>
            <li class="active">Catalog</li>
        </ul>
    </div>


    <section id="catalog-products">
        <div class="product-container">
            <div class="upper-catalog-card">
                <div class="catalog-info">Products:123</div>
                <div class="filters-mobile">
                    Filters<i class="fa-solid fa-filter"></i>
                    <div class="filters-dropdown">
                        <div class="mob-filter">sort1</div>
                        <div class="mob-filter">sort1</div>
                        <div class="mob-filter">sort1</div>
                        <div class="mob-filter">sort1</div>
                    </div>
                </div>

                <div class="catalog-sort">
                    Sort <i class="fa-solid fa-arrow-down-wide-short"></i>
                    <div class="dropdown-sort">
                        <div class="sort">sort1</div>
                        <div class="sort">sort2</div>
                        <div class="sort">sort3</div>
                    </div>
                </div>
            </div>

            {%for p in products%}
            <div class="product-icon">
                <a href="{{p.get_absolute_url}}">
                    <div class="image-field">
                        {% if p.image%}
                        <img src="{{p.image.url}}" alt=""/>
                        {%else%}
                        <img src="{%static 'images/no-image.png'%}" alt=""/>
                        {%endif%}
                    </div>
                    <div class="product-description">
                        <span>{{p.description|linebreaks|truncatewords:3}}</span>
                        <h5>{{p.name}}</h5>
                        <h4 class="price">{{p.price}}</h4>
                    </div>
                    <i class="fa-solid fa-cart-plus product-cart open-modal-btn" id="open-modal-btn"></i>
                </a>
                     <div class="modal" id="my-modal">
                <div class="modal__box">
                    <button class="modal__close-btn" id="close-my-modal-btn">
                        <svg
                                width="23"
                                height="25"
                                viewBox="0 0 23 25"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                    d="M2.09082 0.03125L22.9999 22.0294L20.909 24.2292L-8.73579e-05 2.23106L2.09082 0.03125Z"
                                    fill="#333333"
                            />
                            <path
                                    d="M0 22.0295L20.9091 0.0314368L23 2.23125L2.09091 24.2294L0 22.0295Z"
                                    fill="#333333"
                            />
                        </svg>
                    </button>
                    <h2>{{p.name}} modal window</h2>

                    <p>
                        {{p.price}}
                    </p>

                    <p>
                        {{p.description}}
                    </p>
                </div>
            </div>
            </div>
            {%endfor%}
        </div>


        <div class="filters">
            <h3>Filter</h3>
            <h5>Filter</h5>
            <h5>Filter</h5>
            <h5>Filter1234324y234</h5>
            <h5>Filter</h5>
            <h5>Filter</h5>
            <h5>Filter</h5>
            <h5>Filter</h5>
            <h6>Filter</h6>
        </div>
        <div class="mob-info">products:125</div>
    </section>
</div>
{%endblock%}


</body>
</html>