{%extends 'base.html'%}
{%load static%}


{% block content%}
    <section id="Contacts" , class="section-p1">
      <h2 class="main-text">Contacts and Info</h2>
      <div class="contact-blocks-1">
        <div class="cont-list">
          <ul class="to-get-list">
            <li>
              <i class="fa-solid fa-phone"></i>
              <h5 class="list-text">+38 (067) 792-66-74</h5>
            </li>
            <li>
              <i class="fa-solid fa-location-dot"></i>
              <h5 class="list-text">Shalom-Aleikhum-3</h5>
            </li>
            <li>
              <i class="fa-solid fa-envelope"></i>
              <h5 class="list-text">yaroslawsh04@gmail.com</h5>
            </li>
            <li>
              <i class="fa-solid fa-clock"></i>
              <h5 class="list-text">Mon-Fri 8:00-18:00 Sat-Sun 8:00-14:00</h5>
            </li>
          </ul>
        </div>
        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25038.95125150955!2d28.085988205747988!3d48.72658757653201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4732cfa4d03d3585%3A0xb9da21e88bc82e40!2sMahazyn%20Zapchastyn%20Do%20Sil%CA%B9hosptekhniky!5e0!3m2!1sen!2spl!4v1709670995435!5m2!1sen!2spl"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <h2 class="text-2">How to get guide</h2>
      <div class="contacts-blocks-2">
        <div class="shop-foto">
          <img src="images/traktor4.jpg" id="main-image" width="100%" />
          <div class="small-images-group">
            <div class="small-image-item">
              <img src="images/traktor2.jpg" width="100%" class="small-img" />
            </div>
            <div class="small-image-item">
              <img src="images/traktor.jpg" width="100%" class="small-img" />
            </div>
            <div class="small-image-item">
              <img src="images/traktor5.jpg" width="100%" class="small-img" />
            </div>
            <div class="small-image-item">
              <img src="images/traktor3.jpg" width="100%" class="small-img" />
            </div>
          </div>
        </div>
        <div class="get-description">
          <h5>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </h5>
        </div>
      </div>
    </section>

{%endblock%}