{%extends "shop/base.html"%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

{%block content%}

<section id="hero">
    <h2>Myru-Myr shop</h2>
    <h3>Details for every tracktor</h3>
    <div id="contactInfo">
        <h4>
            <a class="btn btn-simple btn-round" href="tel:+380677926674">
                📞 +38 (067) 792-66-74
            </a>
            <a target="_blank"
               title="Viber"
               class="header-phone_social"
               href="viber://chat?number=+380677926674">
                <i class="fab fa-viber"></i>
            </a>
        </h4>
    </div>
</section>


<section id="bestsellers" class="section-p1">
    <h2>Best sellers</h2>
    <p>best goods ever</p>
    <div class="product-container">
           {%for p in products%}
        <div class="product-icon">
            <div class="image-field">
                {%if p.image%}
                <img src="{{p.image.url}}" alt=""/>
                {%else%}
                <img src="{%static 'images/traktor2.jpg'%}" alt=""/>
                {%endif%}
            </div>
            <div class="product-description">
                <span>{{p.description|linebreaks|truncatewords:3}}</span>
                <h5>{{p.name}}</h5>
                <h4 class="price">{{p.price}}</h4>
            </div>
            <i class="fa-solid fa-cart-plus product-cart"></i>
        </div>
           {%endfor%}
    </div>
</section>


<section id="banner" class="section-p2">
    <h2>Huge ammount of goods</h2>
    <h3>New and used</h3>
    <button>BUY</button>
</section>

<section class="section-p1"></section>
    {%endblock%}
</body>
</html>