{%extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{%block content%}
    <section class="section-p3">
      <div class="path-to">
        <ul id="path">
          <li><a href="{%url 'shop:main'%}">Main</a> /</li>
          <li><a href="{%url 'shop:catalog'%}">Catalog </a>/</li>
          <li>{{product.category}}/</li>
          <li class="active">{{product.name}} </li>
        </ul>
      </div>
    </section>

    <section id="single-product" class="section-p1">
      <div class="single-product-images">
        {%if product.image%}
        <img src="{{product.image.url}}" width="100%" class="small-img" />
        {%endif%}
        <div class="small-images-group">
          <!--          <div class="small-image-item">-->
<!--          </div>-->
<!--          <div class="small-image-item">-->
<!--            <img src="images/traktor.jpg" width="100%" class="small-img" />-->
<!--          </div>-->
<!--          <div class="small-image-item">-->
<!--            <img src="images/traktor5.jpg" width="100%" class="small-img" />-->
<!--          </div>-->
<!--          <div class="small-image-item">-->
<!--            <img src="images/traktor3.jpg" width="100%" class="small-img" />-->
<!--          </div>-->
        </div>
      </div>
      <div class="single-product-description">
        <h4 class="category">{{product.category}}</h4>
        <h2 class="price">{{product.price}}</h2>
        <input type="number" value="1" />
        <button>Add to cart</button>
        <h3 class="details-head">{{product.code}}</h3>
        <p class="details-text">
            {{product.description}}
        </p>
      </div>
    </section>
{%endblock%}

</body>
</html>